/*---------- GLOBAL ----------*/
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 {
	text-rendering: optimizeLegibility;
	/*font-weight: normal;*/
	margin: 0;
	padding: 0;
	border: 0;
}

/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea {	color: #333 }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

a:link,
a:visited{ outline: 0; color: #333; }
a:active,
a:hover{ outline: 0; color: #3939bf; }

/*---------- STYLES ----------*/

body{
	font-size: 11px;
}

	/* Nav Bar */

	nav{
		text-align: center;
		padding: 10px;
	}

	nav h1{
		text-align: center;
		display: inline-block;
		border: 8px solid #333;
		padding: 10px;
		font-size: 3em
	}	

		nav ul{
			padding: 0;
		}

			nav ul li{
				display: inline-block;
			}
				nav ul li a{
					padding: 10px;
					font-size: 2em;
					font-weight: bold;
				}

				nav ul li a.letter-bt.not-active {
				   pointer-events: none;
				   cursor: default;
				}

				nav  ul li a.letter-bt.selected {
				   background-color: #333;
				   color: white;
				}		

/*-------------------- PAGE: INDEX --------------------*/
#container{
	width: 100%;
	height: 100%;
	text-align: center;
}

	/* Each Result
	Each repeated query is grouped into one of these */
	#container .item{
		/*display: inline-block;*/
		margin: 5px;
		text-align: left;
	}



		/*---------- Description ---------*/
		#container .item .description{
			padding: 10px;
			color: white;
			word-wrap: break-word;
		}

			#container .item.web .description{
				background-color: #2073f0;
			}

			#container .item.images .description{
				background-color: #ffba0f;
				max-width: calc(15vw + 16px);
			}

			#container .item.youtube .description{
				background-color: #db503d;
				max-width: 300px;
			}

			#container .item .description h2{
				text-align: left;
			}

			#container .item .description ul{
				padding: 0;
				list-style-type: none;
			}


		/*----------- Content ------------*/
		#container .item div.content{
			border-width: 8px;
			border-style: solid;
			display: block;
		}			

			/*---------- Google Web ----------*/
			#container .item.web div.content{
				border-color: #2073f0;
			}
				#container .item.web div.content h1{
					margin: 0;
					display: block;
					text-align: center;
					padding: 10px;
					text-transform: uppercase;
					color: #2073f0;
				}

			/*-------- Google Images ---------*/
			#container .item.images div.content{
				border-color: #ffba0f;
			}		

				/* Restraining the size of the images */
				#container .item.images div.content img{
					/*max-width: 300px;*/
					/*max-height: 300px;*/
					display: block;
					max-width: 15vw;
					/*width: 15vw;*/
					/*max-width: 25%;*/
				}

			/*----------- Youtube ------------*/
			/* Thumbs for videos are loaded as background images,
			so we need to set a size for the parent div */
			#container .item.youtube div.content{
				width: 300px;
				height: 168px;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center;
			    text-align: center;
			    /*overflow: hidden;*/
			    border-color: #db503d;
			}

				/* Play Button */
				#container .item.youtube div.content img{
					position: relative;
					top: calc(50% - 20px);
					width: 40px;
					height: 40px;
				} 

				/* youtube embed */
				#container .item.youtube div.content iframe{
					width: 300px;
					height: 168px;
					/*position: relative;
					top: -25px;*/
				} 


/*-------------------- PAGE: QUERY --------------------*/

	#container .main{
		margin: 5px;
		text-align: center;
	}

		/*----------- Content ------------*/
		#container .main div.content{
			border-width: 8px;
			border-style: solid;
			display: inline-block;
		}			

			/*---------- Google Web ----------*/
			#container .main.web div.content{
				border-color: #2073f0;
			}

				#container .main.web div.content h1{
					margin: 0;
					display: block;
					text-align: center;
					padding: 10px;
					text-transform: uppercase;
					color: #2073f0;
					font-size: 6em;
				}

			/*-------- Google Images ---------*/
			#container .main.images div.content{
				border-color: #ffba0f;
			}		

				/* Restraining the size of the images */
				#container .main.images div.content img{
					display: block;
				}

			/*----------- Youtube ------------*/
			/* Thumbs for videos are loaded as background images,
			so we need to set a size for the parent div */
			#container .main.youtube div.content{
				width: 496px;
				height: 376px;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center;
			    text-align: center;
			    /*overflow: hidden;*/
			    border-color: #db503d;
			}

				/* Play Button */
				#container .main.youtube div.content img{
					position: relative;
					top: calc(50% - 20px);
					width: 40px;
					height: 40px;
				} 

				/* youtube embed */
				#container .main.youtube div.content iframe{
					width: 496px;
					height: 376px;
					/*position: relative;
					top: -25px;*/
				} 

	/* Dates */
	#container .date-container{
		width: 180px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}

		#container .date-container ul{
			padding: 0;
			list-style-type: none;
		}

/*----- LOADER -----*/
#loader-container{
	text-align: center;
/*	top: 50%;
	position: absolute;
	left: calc((100% - 1225px)/2 + 175px);
	width: 1050px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	*/
	width: 100%;
	height: 100px;
}

#loader-container .loader {
	position: relative;
	top: calc(50% - 10px);

	width: 20px;
	height: 20px;
	border: 3px solid black;
	display: inline-block;
    -webkit-animation: myfirst 1s; /* Chrome, Safari, Opera */
    animation: myfirst 1s;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;    
}


/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
    	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    	transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(90deg); /* IE 9 */
    	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    	transform: rotate(90deg);
    }
}
/* Standard syntax */
@keyframes myfirst {
    from {
    	transform: rotate(0deg);
    }
    to {
    	transform: rotate(90deg);
    }
}
