/*-------------------- GLOBAL --------------------*/
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 {
	text-rendering: optimizeLegibility;
	/*font-weight: normal;*/
	margin: 0;
	padding: 0;
	border: 0;
}

/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea {	color: #444; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }


/*-------------------- COLORS --------------------*/
.web{
	border: 8px solid #2073f0;
	color: #2073f0;
}

	.description.web{
		background-color: #2073f0;
		color: white;
	}

	hr.web{
		border: none;
		height: 8px;
		background-color: #2073f0;
	}

	td.web.true{
		background-color: #2073f0;
	}		

.images{
	border: 8px solid #ffba0f;
	color: #ffba0f;
}

	.description.images{
		background-color: #ffba0f;
		color: white;
	}

	hr.images{
		border: none;
		height: 8px;
		background-color: #ffba0f;
	}	

	td.images.true{
		background-color: #ffba0f;
	}	

.youtube{
    border: 8px solid #db503d;
    color: #db503d;	
}

	.description.youtube{
		background-color: #db503d;
		color: white;
	}

	hr.youtube{
		border: none;
		height: 8px;
		background-color: #db503d;
	}

	td.youtube.true{
		background-color: #db503d;
	}

/*-------------------- STYLES --------------------*/

body{

}	

	/* Nav Bar */

	nav{
		/*text-align: center;
		padding: 10px;
		border-bottom: 8px solid #444;*/
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1000;
		width: 100%;
	}
		/* TITLE */
		nav h1{
			display: inline-block;
			vertical-align: text-bottom;
			font-size: 36px;
			opacity: 0.7;
			margin: 10px 40px 10px 20px;
			border: 0;
			padding: 0;
		}

			nav h1 span{
				color: #ff6600;
			}

			nav h1 a:link,
			nav h1 a:visited,
			nav h1 a:active,
			nav h1 a:hover{
				outline: none;
				color: #6e2ae7;
				text-decoration: none;
			}

		/* SERVICES */
		nav ul#services{
			list-style: none;
			display: inline-block;
			vertical-align: text-bottom;
			line-height: 36px;
			margin: 10px 0;
			border: 0;
			padding: 0;	
		}

			nav ul#services li{
				display: inline-block;
				border: none;
				font-weight: bold;
				font-size: 15px;
				vertical-align: middle;
				margin-right: 20px;
			}

			nav ul#services li.web		{	color: #2073f0;	}
			nav ul#services li.images	{	color: #ffba0f;	}
			nav ul#services li.youtube	{	color: #db503d;	}

				nav ul#services li div{
					display: inline-block;
					vertical-align: middle;
					width: 20px;
					height: 20px;
					margin-right: 10px;
				}

				nav ul#services li.web div		{ background-color: #2073f0; }
				nav ul#services li.images div	{ background-color: #ffba0f; }
				nav ul#services li.youtube div	{ background-color: #db503d; }

		/* LETTERS */
		nav ul#letters{
			display: inline-block;
			width: calc(100% - 32px);
			opacity: 0.7;
			background-color: #6e2ae7;
			margin: 0;
			border: 0;
			padding: 0 0 0 20px;
		}

			nav ul#letters li{
				display: inline-block;
				text-align: center;
			}		

				nav ul#letters li a{
					display: block;
					width: 32px;
					padding: 5px 0;
					border-width: 8px 0 8px 8px;
					border-style: solid;
					/*border-color: rgba(110, 40, 230, 0.7);*/
					border-color: #6e2ae7;				
					text-transform: uppercase;
					font-size: 15px;
					font-weight: bold;
					background-color: white;
				}

				nav ul#letters li a:link,
				nav ul#letters li a:visited,
				nav ul#letters li a:active,
				nav ul#letters li a:hover{
					outline: 0;
					text-decoration: none;
					/*color: rgba(110, 40, 230, 0.7);*/
					color: #6e2ae7;
				}

				nav ul#letters li a.letter-bt.not-active {
				   pointer-events: none;
				   cursor: default;
				}

				nav  ul#letters li a.letter-bt.selected {
				   /*background-color: rgba(110, 40, 230, 0.7);*/
				   background-color: #6e2ae7;
				   color: white;
				}

		/* ABOUT */
		nav #about{
			display: inline-block;
			width: 32px;
			float: right;
			padding: 5px 0;
			border-width: 8px;
			border-style: solid;
			/*border-color: rgba(110, 40, 230, 0.7);*/
			border-color: #ff6600;
			background-color: #ff6600;				
			text-transform: uppercase;
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			opacity: 0.7;
			cursor: pointer;
			color: white;
		}				

		nav ul#pages-links{
			border-color: #ff6600;
			background-color: #ff6600;		
			opacity: 0.7;
			font-size: 15px;
			font-weight: bold;
			margin: 0;
			float: right;
			padding: 10px;
			line-height: 20px;
			display: none;
		}

			nav ul#pages-links a:link,
			nav ul#pages-links a:visited,
			nav ul#pages-links a:active,
			nav ul#pages-links a:hover{
				color: white;
				text-decoration: none;
				outline: none;
			}		

/*-------------------- PAGE: INDEX --------------------*/
#container{
	width: 100%;
	height: 100%;
	padding: 120px 20px 20px 20px;
	text-align: center;
}

	/* Each Result
	Each repeated query is grouped into one of these */
	#container .item{
		/*display: inline-block;*/
		margin: 5px;
		text-align: left;
	}



		/*---------- Description ---------*/
		#container .item .description{
			padding: 8px;
			word-wrap: break-word;
			font-size: 15px;
			line-height: 20px;			
			/*text-align: left;
			color: white;*/
		}

		#container .item .description hr{
			height: 4px;
			background: white;
			border: none;
		}

		#container .item .description a:link,
		#container .item .description a:visited,
		#container .item .description a:active,
		#container .item .description a:hover{
			outline: 0;
			color: white;
			font-weight: bold;
		}

		#container .item .description hr{
			height: 4px;
			background: white;
			border: none;
		}			

			#container .item .description.web{
				min-width: 10vw;
				max-width: 20vw;				
			}

			#container .item .description.images{
				/*background-color: #ffba0f;*/
				max-width: 15vw;
			}

			#container .item .description.youtube{
				/*background-color: #db503d;*/
				max-width: 300px;
			}

			#container .item .description h2{
				font-size: 20px;
				margin-bottom: 4px;
			}

			#container .item .description h3{
				font-size: 15px;
			}

			#container .item .description p{
				margin: 0;
			}

			#container .item .description ul{
				padding: 0;
				list-style-type: none;
				margin: 0;
			}


		/*----------- Content ------------*/
		#container .item div.content{
			display: inline-block;
			vertical-align: bottom;
			border: none;
		}

			/*---------- Google Web ----------*/
			#container .item div.content.web{
				/*border: none;*/
				min-width: 10vw;
				max-width: 20vw;				
			}
				#container .item div.content.web h1{
					margin: 0;
					display: block;
					padding: 10px;
					text-align: center;					
					text-transform: uppercase;
					font-size: 22px;
					/*word-break: break-all;*/
				}

			/*-------- Google Images ---------*/
			/*#container .item div.content.images{
				border: none;	
			}	*/

				/* Restraining the size of the images */
				#container .item div.content img.images{
					/*max-width: 300px;*/
					/*max-height: 300px;*/
					display: block;
					max-width: 15vw;
					/*min-width: 10vw;*/
					/*width: 15vw;*/
					/*max-width: 25%;*/
					/*width: 300px;*/
				}

			/*----------- Youtube ------------*/
			/* Thumbs for videos are loaded as background images,
			so we need to set a size for the parent div */
			#container .item div.content div.youtube{
				width: 300px;
				height: 168px;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center;
			    text-align: center;
			    /*overflow: hidden;*/
			}

				/* Play Button */
				#container .item div.content div.youtube img{
					position: relative;
					top: calc(50% - 20px);
					width: 40px;
					height: 40px;
				} 

				/* youtube embed */
				#container .item div.content div.youtube iframe{
					width: 300px;
					height: 168px;
					/*position: relative;
					top: -25px;*/
				} 


/*-------------------- PAGE: QUERY --------------------*/

#container .query-page-header{
	margin: 20px;
	display: inline-block;
	text-align: center;	
}

	#container .query-page-header h1{
		margin: 0;
		padding: 10px;
		text-transform: uppercase;
		font-size: 4em;
	}

	#container .query-page-header h2{
		margin: 0;
		padding: 10px;
		/*text-transform: uppercase;*/
		font-size: 3em;
		height: 100%;
	}	

	#container .main{
		/*margin: 5px;*/
		/*width: 50%;*/
		text-align: center;
		display: inline-block;
		vertical-align: top;
	}

		/*----------- Content ------------*/
		#container .main div.content{
			/*display: block;*/
			float: right;
		}			

			/*---------- Google Web ----------*/
/*			#container .main.web div.content{
				border-color: #2073f0;
			}*/

				/*#container .main.web div.content h1{
					margin: 0;
					display: block;
					text-align: center;
					padding: 10px;
					text-transform: uppercase;
					color: #2073f0;
					font-size: 6em;
				}*/

			/*-------- Google Images ---------*/
/*			#container .main.images div.content{
				border-color: #ffba0f;
			}	*/	

				#container .main div.content.images img{
					display: block;
				}

			/*----------- Youtube ------------*/
			/* Thumbs for videos are loaded as background images,
			so we need to set a size for the parent div */
			#container .main div.content.youtube{
				width: 496px;
				height: 376px;
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center;
			    text-align: center;
			    /*overflow: hidden;*/
			    /*border-color: #db503d;*/
			}

				/* Play Button */
				#container .main div.content.youtube img{
					position: relative;
					top: calc(50% - 20px);
					width: 40px;
					height: 40px;
				} 

				/* youtube embed */
				#container .main div.content.youtube iframe{
					width: 496px;
					height: 376px;
					/*position: relative;
					top: -25px;*/
				} 

	/* Dates */
	#container .date-container{
		width: 180px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}

		#container .date-container ul{
			padding: 0;
			list-style-type: none;
		}

/*-------------------- PAGE: ABOUT --------------------*/

#container #about-container{
	width: 900px;
	text-align: left;
	display: inline-block;
	line-height: 20px;
}

	#container #about-container a:link,
	#container #about-container a:visited,
	#container #about-container a:active,
	#container #about-container a:hover{
		color: #ff6600;
		opacity: 0.7;
		font-weight: bold;
		outline: none;
	}

	/* TEXT */
	#container #about-container h1,
	#container #about-container p,
	#container #about-container ul{
		width: 600px;
		display: block;
	}

	#container #about-container h1{	
		color: #6e2ae7;
		opacity: 0.7;
		font-size: 20px;
	}

	#container #about-container p{
		font-size: 15px;
		margin: 5px 0 20px 0;
	}

	#container #about-container ul{
		list-style: square;
		padding: 20px;
	}


	/* ANIMATIONS */
	#container #about-container .animation{
		margin: 10px;
		width: 270px;
		height: 450px;		
		text-align: center;
		display: inline-block;
		vertical-align: top;
	}

		#container #about-container .animation img{
			width: 200px;
			height: auto;
		}	

		#container #about-container .animation .search-box,
		#container #about-container .animation .predictions{
			width: 90%;
			display: inline-block;
			text-align: left;
			padding: 2px 5px;
			border: 1px solid #2073f0;
			visibility: hidden;
			word-wrap: break-word;
		}

			#container #about-container .animation .predictions ul{
				width: 90%;
				list-style: none;
				padding: 10px 20px;
				margin: 0;
				text-indent: -10px;
			}

				#container #about-container .animation .predictions ul li{
					padding: 0;
					margin: 0;
					font-weight: bold;
			}

/*-------------------- LOADER --------------------*/
#loader-container{
	text-align: center;
/*	top: 50%;
	position: absolute;
	left: calc((100% - 1225px)/2 + 175px);
	width: 1050px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	*/
	width: 100%;
	height: 100px;
}

#loader-container .loader {
	position: relative;
	top: calc(50% - 10px);

	width: 20px;
	height: 20px;
	border: 3px solid black;
	display: inline-block;
    -webkit-animation: myfirst 1s; /* Chrome, Safari, Opera */
    animation: myfirst 1s;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;    
}


/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
    	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    	transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(90deg); /* IE 9 */
    	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    	transform: rotate(90deg);
    }
}
/* Standard syntax */
@keyframes myfirst {
    from {
    	transform: rotate(0deg);
    }
    to {
    	transform: rotate(90deg);
    }
}

/*-------------------- CHART --------------------*/

#chart-container{
	display: inline-block;
	/*width: 50%;*/
}

	#chart-container svg{
		display: block;
		/*float: left;*/
	}

	#chart-container ul{
		padding: 0;
		display: block;		
		width: 440px;
		text-align: left;
		margin: 0 0 0 80px;
		/*float: left;*/
	}

		#chart-container ul li{
			display: inline-block;
			font-size: 1em;
			margin: 5px 10px 5px 0;
		}

			#chart-container ul li div.language-marker{
				width: 20px;
				height: 20px;
				display: inline-block;
				margin-right: 5px;
				padding: 0;
				border: 0;
				vertical-align: middle;
			}

		#chart-container text{
			fill: #444;
		}

path.line{
	fill: none;
	stroke-width: 8px;
}

/*----- Axis -----*/
/* Outer Tick */
.axis path {
  display: none;
}

/* Inner Ticks */
.axis line {
  fill: none;
  stroke: #444;
  stroke-width: 4px;
  shape-rendering: crispEdges;
}

/* Labels */
.axis text.label{
	font-size: 1.6em;
}

/* Numbers */
.axis text{
  font-size: 1.2em;
  font-weight: bold;
}